<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	 <bean id="portAnalysis"
        class="org.springframework.web.servlet.mvc.ServletWrappingController"
        lazy-init="true">
        <property name="servletClass">
          <value>org.geoserver.portanalysis.PortAnalysisServlet</value>
        </property>
        <property name="servletName">
          <value>portanalysis</value>
        </property>
        <property name="initParameters">
	      <props>
	        <!-- either development on deployment, make sure you set it to deployment 
	          before releasing! -->
	        <prop key="path">portanalysis</prop>
	      </props>
	    </property>
     </bean>

     <bean id="portAnalysisDispatcherMapping"
	    class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	    <property name="alwaysUseFullPath" value="true" />
	    <property name="mappings">
	      <props>
	        <prop key="/portanalysis">portAnalysis</prop>
	        <prop key="/portanalysis/**">portAnalysis</prop>
	      </props>
	    </property>
	  </bean>

</beans>
